extends ./template/layout

block content
    +menu("GPIO")

    .container
        .row
            a(href="https://dissectionbydavid.wordpress.com/2013/10/21/raspberry-pi-using-gpio-wiringpi-without-root-sudo-access/")
                span #{__('gpio.wiringpiSudo')}
        .row.limited-width.text-center.row-centered
            .col-md-1.col-sm-2.col-xs-2.grey.height-40
                | wiringPi
            .col-md-2.hidden-sm.hidden-xs.grey.height-40
                | BCM GPIO
            .col-md-2.col-sm-2.col-xs-2.grey.height-40
                | Name
            .col-md-2.col-sm-4.col-xs-4.grey.height-40
                | Header
            .col-md-2.col-sm-2.col-xs-2.grey.height-40
                | Name
            .col-md-2.hidden-sm.hidden-xs.grey.height-40
                | BCM GPIO
            .col-md-1.col-sm-2.col-xs-2.grey.height-40
                | WiringPi
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | —
            .col-md-2.hidden-sm.hidden-xs
                | —
            .col-md-2.col-sm-2.col-xs-2.text-red
                | 3.3v
            .col-md-2.col-sm-4.col-xs-4.grey
                | 1 | 2
            .col-md-2.col-sm-2.col-xs-2.text-red
                | 5.0v
            .col-md-2.hidden-sm.hidden-xs
                | —
            .col-md-1.col-sm-2.col-xs-2
                | —
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | 8
            .col-md-2.hidden-sm.hidden-xs
                | R1:0 / R2:2
            .col-md-2.col-sm-2.col-xs-2.text-blue
                | SDA
            .col-md-2.col-sm-4.col-xs-4.grey
                | 3 | 4
            .col-md-2.col-sm-2.col-xs-2.text-red
                | 5.0v
            .col-md-2.hidden-sm.hidden-xs
                | —
            .col-md-1.col-sm-2.col-xs-2
                | —
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | 9
            .col-md-2.hidden-sm.hidden-xs
                | R1:1 / R2:3
            .col-md-2.col-sm-2.col-xs-2.text-blue
                | SCL
            .col-md-2.col-sm-4.col-xs-4.grey
                | 5 | 6
            .col-md-2.col-sm-2.col-xs-2
                | 0.0v
            .col-md-2.hidden-sm.hidden-xs
                | —
            .col-md-1.col-sm-2.col-xs-2
                | —
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | 7
            .col-md-2.hidden-sm.hidden-xs
                | 4
            .col-md-2.col-sm-2.col-xs-2.text-green
                | GPIO7
            .col-md-2.col-sm-4.col-xs-4.grey
                | 7 | 8
            .col-md-2.col-sm-2.col-xs-2.text-yellow
                | TxD
            .col-md-2.hidden-sm.hidden-xs
                | 14
            .col-md-1.col-sm-2.col-xs-2
                | 15
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | —
            .col-md-2.hidden-sm.hidden-xs
                | —
            .col-md-2.col-sm-2.col-xs-2
                | 0.0v
            .col-md-2.col-sm-4.col-xs-4.grey
                | 9 | 10
            .col-md-2.col-sm-2.col-xs-2.text-yellow
                | RxD
            .col-md-2.hidden-sm.hidden-xs
                | 15
            .col-md-1.col-sm-2.col-xs-2
                | 16
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | 0
            .col-md-2.hidden-sm.hidden-xs
                | 17
            .col-md-2.col-sm-2.col-xs-2.text-green
                | GPIO0
            .col-md-2.col-sm-4.col-xs-4.grey
                | 11 | 12
            .col-md-2.col-sm-2.col-xs-2.text-green
                | GPIO1
            .col-md-2.hidden-sm.hidden-xs
                | 18
            .col-md-1.col-sm-2.col-xs-2
                | 1
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | 2
            .col-md-2.hidden-sm.hidden-xs
                | R1:21/R2:27
            .col-md-2.col-sm-2.col-xs-2.text-green
                | GPIO2
            .col-md-2.col-sm-4.col-xs-4.grey
                | 13 | 14
            .col-md-2.col-sm-2.col-xs-2
                | 0.0v
            .col-md-2.hidden-sm.hidden-xs
                | —
            .col-md-1.col-sm-2.col-xs-2
                | —
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | 3
            .col-md-2.hidden-sm.hidden-xs
                | 22
            .col-md-2.col-sm-2.col-xs-2.text-green
                | GPIO3
            .col-md-2.col-sm-4.col-xs-4.grey
                | 15 | 16
            .col-md-2.col-sm-2.col-xs-2.text-green
                | GPIO4
            .col-md-2.hidden-sm.hidden-xs
                | 23
            .col-md-1.col-sm-2.col-xs-2
                | 4
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | —
            .col-md-2.hidden-sm.hidden-xs
                | —
            .col-md-2.col-sm-2.col-xs-2.text-red
                | 3.3v
            .col-md-2.col-sm-4.col-xs-4.grey
                | 17 | 18
            .col-md-2.col-sm-2.col-xs-2.text-green
                | GPIO5
            .col-md-2.hidden-sm.hidden-xs
                | 24
            .col-md-1.col-sm-2.col-xs-2
                | 5
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | 12
            .col-md-2.hidden-sm.hidden-xs
                | 10
            .col-md-2.col-sm-2.col-xs-2.text-purple
                | MOSI
            .col-md-2.col-sm-4.col-xs-4.grey
                | 19 | 20
            .col-md-2.col-sm-2.col-xs-2
                | 0.0v
            .col-md-2.hidden-sm.hidden-xs
                | —
            .col-md-1.col-sm-2.col-xs-2
                | —
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | 13
            .col-md-2.hidden-sm.hidden-xs
                | 9
            .col-md-2.col-sm-2.col-xs-2.text-purple
                | MISO
            .col-md-2.col-sm-4.col-xs-4.grey
                | 21 | 22
            .col-md-2.col-sm-2.col-xs-2.text-green
                | GPIO6
            .col-md-2.hidden-sm.hidden-xs
                | 25
            .col-md-1.col-sm-2.col-xs-2
                | 6
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | 14
            .col-md-2.hidden-sm.hidden-xs
                | 11
            .col-md-2.col-sm-2.col-xs-2.text-purple
                | SCLK
            .col-md-2.col-sm-4.col-xs-4.grey
                | 23 | 24
            .col-md-2.col-sm-2.col-xs-2.text-purple
                | CE0
            .col-md-2.hidden-sm.hidden-xs
                | 8
            .col-md-1.col-sm-2.col-xs-2
                | 10
        .row.limited-width.text-center.border-bottom.row-centered
            .col-md-1.col-sm-2.col-xs-2
                | —
            .col-md-2.hidden-sm.hidden-xs
                | —
            .col-md-2.col-sm-2.col-xs-2
                | 0.0v
            .col-md-2.col-sm-4.col-xs-4.grey
                | 25 | 26
            .col-md-2.col-sm-2.col-xs-2.text-purple
                | CE1
            .col-md-2.hidden-sm.hidden-xs
                | 7
            .col-md-1.col-sm-2.col-xs-2
                | 11
        .row.limited-width.text-center.row-centered
            .col-md-1.col-sm-2.col-xs-2.grey.height-40
                | wiringPi
            .col-md-2.hidden-sm.hidden-xs.grey.height-40
                | BCM GPIO
            .col-md-2.col-sm-2.col-xs-2.grey.height-40
                | Name
            .col-md-2.col-sm-4.col-xs-4.grey.height-40
                | Header
            .col-md-2.col-sm-2.col-xs-2.grey.height-40
                | Name
            .col-md-2.hidden-sm.hidden-xs.grey.height-40
                | BCM GPIO
            .col-md-1.col-sm-2.col-xs-2.grey.height-40
                | WiringPi
        .row
            | &nbsp;
        .row
            .col-md-12
                ul.nav.nav-tabs(role="tablist", id="codeTabs")
                    li.active(role="presentation")
                        a(href="#emissionCode", role="tab", data-toggle="tab", arial-controls="emissionCode", aria-expended="true")
                            span #{__('gpio.emissionLink')}
                    li(role="presentation")
                        a(href="#receptionCode", role="tab", data-toggle="tab", arial-controls="receptionCode", aria-expended="false")
                            span #{__('gpio.receptionLink')}
                    li(role="presentation")
                        a(href="#snifferCode", role="tab", data-toggle="tab", arial-controls="snifferCode", aria-expended="false")
                            span #{__('gpio.snifferLink')}
                div.tab-content
                    div.tab-pane.active(role="tabpanel", id="emissionCode", aria-labelledby="emission-tab")
                        iframe.sourceCode(src="radioEmission.html")
                    div.tab-pane(role="tabpanel", id="receptionCode", aria-labelledby="reception-tab")
                        iframe.sourceCode(src="radioReception.html")
                    div.tab-pane(role="tabpanel", id="snifferCode", aria-labelledby="sniffer-tab")
                        iframe.sourceCode(src="radioSniffer.html")

    script(type='text/javascript').
        $('#codeTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });